

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

header {
  background:#738ede;
  color: #090404;
  padding: 1rem 0;
  text-align: center;
  transition: 0.3s;
}
header:hover {
  background: lightblue;
  transform: scale(1.05);
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #d897dd;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #cf9dde;
}

footer {
  text-align: center;
  padding: 20px;
  background: #3e98dc;
  color: white;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}
